<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		   <pattern>[%X{spanId}, %X{traceId}, %X{traceFlags}]</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="CONSOLE" />
	</root> 
	
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
</configuration>