<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%X{spanId}, %X{traceId}, %X{traceFlags}] </Pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>
	
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
</configuration>